In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({'temperature':['Hot','cold','warm','cold']})
print(df)

  temperature
0         Hot
1        cold
2        warm
3        cold

In [3]:
pd.get_dummies(df)

   temperature_Hot  temperature_cold  temperature_warm
0                1                 0                 0
1                0                 1                 0
2                0                 0                 1
3                0                 1                 0