In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
dfr=pd.read_csv('C:/Users/GPT BANTWAL/Documents/result.csv')
dfr

   id   name  m1  m2  m3       result
0   1    ram  67  68  69  first class
1   2  charn  89  90  99  distinction
2   3    raj  99  99  99  distinction
3   4   ravi  30  20  99         fail

In [3]:
dfr['result'].unique()

array(['first class', 'distinction', 'fail'], dtype=object)

In [4]:
pd.get_dummies(dfr['result'])

   distinction  fail  first class
0            0     0            1
1            1     0            0
2            1     0            0
3            0     1            0